body {
  margin: 25px;
  padding: 15px;
}

a {
  text-decoration: none;
}

.navbar-nav {
  flex-direction: row !important;
  margin-bottom: 15px;
}

.nav.navbar.red {
  margin-bottom: 25px;
}

.nav-link {
  padding-right: 10px;
}

#user-form {
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 50px;
}

#mood-nav {
  margin-top: 35px;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GRADIENT -- warm-flame-gradient OR tempting-azure-gradient */
/* PRIMARY COLOR -- teal lighten-3 */
/* SECONDARY COLOR -- red lighten-3 */ 
/* P - #80cbc4 P-light-  #b2fef7  P-dark- #4f9a94 */
/* S- #ef9a9a S-light- #ffcccb S-dark- #ba6b6c */
/* red- #b71c1c */

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 14px;
  font-weight: bold;
  text-anchor: end;
}

path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}