body {
  margin: 25px;
  padding: 15px;
}

a {
  text-decoration: none;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  opacity: 1;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  opacity: 0.5;
}
[type=radio]:hover + img {
  opacity: 0.5;
}

.navbar-nav {
  flex-direction: row !important;
  margin-bottom: 15px;
}

.nav.navbar.red {
  margin-bottom: 25px;
}

#teal {
  background: '#80cbc4' !important;
}

.btn-default {
  background: '#ef9a9a' !important;
}

Link {
  text-decoration: none;
}

.nav-link {
  padding-right: 10px;
}

#user-form {
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 50px;
}

#mood-nav {
  margin-top: 35px;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GRADIENT -- warm-flame-gradient OR tempting-azure-gradient */
/* PRIMARY COLOR -- teal lighten-3 */
/* SECONDARY COLOR -- red lighten-3 */ 
/* P - #80cbc4 P-light-  #b2fef7  P-dark- #4f9a94 */
/* S- #ef9a9a S-light- #ffcccb S-dark- #ba6b6c */
/* red- #b71c1c */

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  font-size: 14px;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}


.xAxis {
  font-size: 14px;
}

.yAxis {
  font-size: 14px;
}

path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#moodselect img[src$=".svg"] {
  height: 100%;
  width: 200%;
  margin-right: 5px;
  margin-left: 5px;
}

#habittype img[src$=".svg"] {
  height: 100%;
  width: 150%;
  display: flex;
  flex-flow: row;
  align-content: space-between;
  justify-content: center;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 120%;
  padding-bottom: 100%;
  vertical-align: top;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}