<nav class="navbar navbar-light justify-content-between">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/moodtracker">Mood Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/habits">Habit Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/coping">Coping Strategies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/graditudes">Gratidudes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cbt">Thought Reframe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/support">Get Support</a>
        </li>
    </ul>
</nav>