<!DOCTYPE html>
<html lang="en">
    <% include ../static/partials/head.ejs %>

    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="content">
           <!-- breadcrumbs -->
           <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="/moodtracker">Main</a>
                        </li>
                </ol>
            </nav>
            <!-- end breadcrumbs -->

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Mood Tracker</h1>
                    <p class="lead">
                        <a href="/add" class="button btn-success">Add a Mood</a>
                        <a href="/history" class="button btn-warning">View History</a>
                    </p>
                </div>
            </div>
            
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>