body {
    padding: 25px;
}

main {
    padding-top: 30px;
    margin-left: 15px;
}

jumbotron {
    background: white;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}