<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head.ejs %>

    <body>
        <% include ./partials/navbar.ejs %>
        <% include ./partials/messages.ejs %>

        <main class="content">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">Welcome to your Pocket Thera-buddy</h1>
                <p class="lead">I'm here to help you keep track of your moods and daily habits, remind you of your favorite coping resources, and give you a spot to reframe your negative thoguhts.</p>
                <hr class="my-4">
                    <% if(currentUser) { %>
                        <a href="/sign_out" class="btn btn-warning">Sign Out</a>
                    <% } else { %>
                        <a href="/sign_up" class="btn btn-warning">Sign Up</a>
                        <a href="/sign_in" class="btn btn-success">Sign In</a>
                   <% } %>
            </div>
            </div>

        </main>
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>